*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

body {
  margin: 0;
  background: #16130f;
  color: #eee;
}
